<h1>Click on a museum to read reviews or write your own.  Or scroll down to add a new museum.</h1>
<% @museums.each do |museum| %>
    <p><%= link_to "#{museum.name} #{museum.location}", museum_path(museum) %></p>
<% end %>
<h1>Create new museum</h1>
    <%= link_to 'New Museum', new_museum_path %>